
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px palevioletred;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;

button {
  background-color: skyblue;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
}

#pasteArea {
  margin-top: 20px;
  border: 1px solid white;
  padding: 10px;
}